<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
</head>
<body>

    <div class="container">
        <form class="form"  action="/login" method="post">
            <img src="/css/login.svg" height="170px" alt="">
            <input name="username" type="text" placeholder="username" autocomplete="off">
            <input name="password" type="password" placeholder="password">
            <button class="btn" type="submit">Admin Login</button>
        </form>
    </div>
    
</body>
</html>
